{% extends 'base.html.twig' %}

{% block title %}SymfoCrud Articles {% endblock %}

{% block body %}
    {% if articles %}
        <div class="container">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Article Body</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.body }}</td>
                        <td>
                            <a href="/article/show/{{ article.id }}" class="btn btn-dark">Show</a>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                            <a href="/article/delete/{{ article.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
    <p>No articles to display</p>
    {% endif %}
{% endblock %}
